<h1>hello</h1>
<img src = "">

In [14]:
print("hello world "*3)

hello world hello world hello world

# variable
<pre>
Variable is a container 
name should start with _ or alpha
with the help of type funtion we can get the type of value

In [35]:
a_2 = '12.32'
b = 12
c = 12.1

print(a_2)
print(b,a_2,b)
print(type(a_2),type(b),type(c))

12.32
12 12.32 12
<class 'str'> <class 'int'> <class 'float'>

# = sign 
* = is used to assign value from right to the left
* also called as assignment symbol


# Swap the value of two variables

In [42]:
a=10
b=20
print(a,b)
c=a
a=b
b=c
print(a,b)

10 20
20 10

In [43]:
a=10
b=20
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [46]:
a=10.34
b=20.65
print(a,b)
a = a+b # 10+20 = 30
b = a-b # 30-20 = 10
a = a-b # 30-10 = 20
print(a,b)

10.34 20.65
20.65 10.34

# Operators

## Assignment
### =
## Arth
### + - * / %
With Str datatype we can two arthm operator +(concat) *(Repeat)

In [58]:
('abc '+'hello ')*3

'abc hello abc hello abc hello '

### Comparison  operators 
<pre>
== is equals
!= not equals
> greater then
< less then
>= greater then and equals 
<=  less then and equals

In [62]:
10!=10

False

In [61]:
10==20

False