<h1>hello</h1>
<img src = "">

In [14]:
print("hello world "*3)

hello world hello world hello world

# variable
<pre>
Variable is a container 
name should start with _ or alpha
with the help of type funtion we can get the type of value

In [35]:
a_2 = '12.32'
b = 12
c = 12.1

print(a_2)
print(b,a_2,b)
print(type(a_2),type(b),type(c))

12.32
12 12.32 12
<class 'str'> <class 'int'> <class 'float'>

# = sign 
* = is used to assign value from right to the left
* also called as assignment symbol


# Swap the value of two variables

In [42]:
a=10
b=20
print(a,b)
c=a
a=b
b=c
print(a,b)

10 20
20 10

In [43]:
a=10
b=20
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [46]:
a=10.34
b=20.65
print(a,b)
a = a+b # 10+20 = 30
b = a-b # 30-20 = 10
a = a-b # 30-10 = 20
print(a,b)

10.34 20.65
20.65 10.34

# Operators

## Assignment
### =
## Arth
### + - * / %
With Str datatype we can two arthm operator +(concat) *(Repeat)

In [58]:
('abc '+'hello ')*3

'abc hello abc hello abc hello '

### Comparison  operators 
<pre>
== is equals
!= not equals
> greater then
< less then
>= greater then and equals 
<=  less then and equals

In [62]:
10!=10

False

In [61]:
10==20

False

# Logical Operators
### and 
### or
### not
<pre>
false values   False None 0 '' {}[] tuple()(empty non premitive datatype)
truth values   12 ' ' 'abc'

<pre>
and,or,not these are logical operator
&,|,! these are bitwise operator

In [53]:
print("hello world","new text ",sep='\n',end="bye bye \n")
print('''
      hello here it's "HP"
      
      here are some more lines
      
       ''')
print("""
      
      
      hello here it's "HP" 
      
      
      """)

hello world
new text bye bye
hello here it's "HP"

      here are some more lines


hello here it's "HP"

# Comments

* python support only single line comment with # symbol
* But we can achive multiline comment in python 
with the help of Doc String
* every String in python is ignored by the interpreter which is 
not assigned to any variable or not utilised by the any function as arrgument

In [1]:
print("hello")  
"helo its single line"
""" 
hello this is comment
#here one more line
#here one more line
#here one more line
#here one more line
#here one more line 
# """
print()

hello

In [3]:
type(None)

NoneType

# Data Types
* Premitive DataTypes
  <pre>
  these datatypes holds single value 
  int
  float
  bool
  None
  complex
* Non-Premitive DataTypes
  <pre>
  these datatypes can hold multiple value(more then one)
    str
    list
    tuple
    dictionary
    set
    Object

## Type Casting
* converting or transforming one datatype to another is call Type casting or Type conversion
* example:
<pre>
    int("123")
    float("123.2")
    str(12)
    bool(12)

In [1]:
int('12' )+ int( '34')

46

# String
<pre>
H e l l o   w o r l d
0 1 2 3 4 5 6 7 8 9 10    <- index position are valid for sequence datatype 
                                eg.            String,List,Tuple
1 2 3 4 5 6 7 8 9 10 11   <- length is 11

In [ ]:
print('hello world'[6])
a = "hello world"
print(a[10])

w
d

# Slicing 
<pre>
[ Start  :    Stop     :   Step ]


H e l l o   w o r l d
0 1 2 3 4 5 6 7 8 9 10

a[6:11:2]

In [13]:
"hello "  "World"

'hello World'

In [48]:
a='0123456789abcdefghijklmnopqrstuvwxyz'
                        #      87654321
# a[-1:-11:-1]
# a[::1]   #[0:10:1]
# a[::-1] #[-1:-11:-1]
a[-8:-5:1]

'stu'

In [ ]:
a= '0123456789'
print(a[::2])
print(a[1::2])
print(a[::2][::-1])
print(a[1::2][::-1])
print(a[-2:-11:-2])
print(a[-1:-11:-2])

02468
13579
86420
97531
86420
97531

# String Methods

<pre>
split

In [ ]:
a,b,c,d = map(float,input("enter 4 number with space").split())
'7 12 9 13'
#['7','12','9','13']
#float([0])  float('7') -> 7.0 
#float([1])  float('12') -> 12.0 
#float([2])  float('9') -> 9.0 
#float([3])  float('13') -> 13.0 
print(a,b,c,d)

7.0 12.0 9.0 13.0

In [ ]:
"hello_hp_how_are_you".split('_')
"hello_hp_how_are_you\nhello_hp_how_are_you".splitlines()

['hello_hp_how_are_you\n', 'hello_hp_how_are_you']

In [10]:
a = int(input("enter the number for a"))
b = int(input("enter the number for b"))
print(a+b)

46

In [2]:
num = -10
if num>0:
    print("positive number",num)
else:
    print("negative number",num)
print("hello")

negative number -10
hello